.custom {
    background-color: #2A9D8F;
    font-size: xx-large;
    color: #264653
}

.mycontainer {
    background-color: #F4A261;
    outline: 2px solid #023e8a;
}

body {
    background-color: #e9c46a;
}