.custom {
    background-color: #2A9D8F;
    font-size: xx-large;
    color: #264653
}

.mycontainer {
    font-family:Arial, Helvetica, sans-serif;
    background-color: #F4A261;
    outline: 10px solid #023e8a;
    width: 400px;
}

body {
    background-color: #e9c46a;
}

.myFooter{
    margin:200px 0px 50px 0px;
}