.custom {
  background-color: #2a9d8f;
  font-size: xx-large;
  color: #264653;
}

.mycontainer {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4a261;
  outline: 10px solid #023e8a;
  border-radius: 10px;
  width: 400px;
}

html {
  background-color: #e9c46a;
}

.myFooter {
  margin: 200px 0px 50px 0px;
}

.link {
  text-decoration: none;
  color: white;
}

#root {
  background-color: #2a9d8f;
}
